<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ChildrenEducationApp"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        tools:node="replace"
        android:name="com.SQLiteHelper.app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Debug-DB"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.Activities.StepCounterActivity"
            android:label="@string/step_counter"
            android:noHistory="true"
            />

        <activity
            android:name="diamon.wordee.MainActivityWordee" />
        <activity
            android:name="com.quizgame.QuestionActivityy" />
        <activity
            android:name="com.quizgame.ResultActivityy" />
        <activity
            android:name="com.quizgame.wonn" />
        <activity
            android:name="sarveshchavan777.quizgame.QuestionActivity" />
        <activity
            android:name="sarveshchavan777.quizgame.won" />
        <activity
            android:name="sarveshchavan777.quizgame.ResultActivity" />

        <activity
            android:name="com.Activities.LoginActivity"
            android:label="Children Education App"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.Activities.RegisterActivity"
            android:label="Children Education App"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.Activities.MainActivity"
            android:label="Children Education App"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>